*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primari:#ff3700;
}

body{
    background-color: black;
    font-family: 'Roboto';
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 40px;
    z-index: 10;
}

.logo img{
    width: 100px;
}

.nav{
    display: flex;

}
.nav li{
    list-style: none;
    margin: 0 10px;
}

.nav li a{
    color:#ffffff;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    transition: 0.3s;
}

.nav li:hover a{
    color:var(--primari);
}

.menu-ico i{
    color: #ffffff;
    font-size: 20px;
    cursor: pointer;
    visibility: hidden;
}

.fa-xmark{
    display: none;
}

.menu-ico input{
    visibility: visible;
}

header .search-bar{
    position: relative;
    width: 200px;
    height: 40px;
}

.search-bar input{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    color: #ffffff;
    background: transparent;
    border: rgba(255,255,255,0.5)  1px solid;
    outline: none;
    border-radius: 4px;
    padding: 0 10px 0 45px !important;
    backdrop-filter: blur(10px);
}

.search-bar input::placeholder{
    color: #ffffff;
}

.search-bar i{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    padding-right: 10px;
    color: #ffffff;
    border-right:1px solid ;
}

.banner{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    background: url('images/bg/bg-Dune.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    
}

.tr{
    transition: 0.5s;
}

.banner::before{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
}

.content{
    position: relative;
    max-width: 550px;
    display: none;
    visibility: hidden;
    transform: scale(0);
    transition: 0.5s;
}

.content.active{
    display: block;
    visibility: visible;
    transform: scale(1);
    transition: 0.5s;
}

.movie-title{
    max-width: 250px;
}

.banner .content h4{
    color: rgba(255,255,255,0.5);
    font-weight: 400;
    font-size: 30px;
}

.banner .content h4 span{
    padding: 0 10px;
    border-right: 1px solid rgba(255,255,255,0.5);
}

.banner .content h4 span:first-child{
    padding-left: 0;
}

.banner .content h4 span:last-child{
    border-right: none;
}

.banner .content h4 span i{
    background: var(--primari);
    color: #ffffff;
    padding: 0 8px;
    display: inline-block;
    border-radius: 2px;
}

.banner .content p{
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5rem;
    color: #ffffff;
    margin: 10px 0 20px;
}

.banner .content .button {
    position: relative;
}

.banner .content .button a{
    position: relative;
    display: inline-block;
    margin-right: 10px;
    background: var(--primari);
    color: #ffffff;
    padding: 6px 20px;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: 0.5s;
    cursor: pointer;
}

.banner .content .button a:nth-child(2){
    background: rgba(0,0,0,0.5);
    border: 1px solid rgba(255,255,255,0.2);
}

.banner .content .button a:hover:nth-child(2){
    background: var(--primari);
}

.banner .carousel-box{
    position: relative;
    display: flex;
    width: 450px;
    height: 450px;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,0.2);
    box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
    border: 1px solid rgba(255,255,255,0.1);
    backdrop-filter: blur(20px);
    border-radius: 10px;
}

.carousel{
    position: relative;
    height: 550px;
    perspective: 1500;
}

.carousel .carousel-item{
    width: 200px;
    cursor: pointer;

}

.carousel .carousel-item img{
    max-width: 235px;
    border-radius: 10px;
    transform: translateX(8px) translateY(-100px);
    object-fit: cover;
    object-position: center;
}

.play-trailer{
    position: absolute;
    bottom: 50px;
    left: 100px;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 1.2rem;
    cursor: pointer !important;
    transition: 0.3s;
}

.play-trailer i{
    margin-right: 10px;
    font-size: 40px;
    cursor: pointer !important;
    
}

.play-trailer:hover{
    color: var(--primari);
}

.sci{
    position: absolute;
    bottom: 50px;
    right: 30px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.sci a{
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 25px;
    transition: 0.3s;
    cursor: pointer;
}

.sci a:hover{
    color: var(--primari);
}

.trailer{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(20px);
    visibility: hidden;
    opacity: 0;
    transition:0.5s ;
}

.trailer.active{
    visibility: visible;
    opacity: 1;
}

.trailer video{
    max-width: 500px;
    outline: none;
}

.close{
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
    filter: invert(1);
    max-width: 30px;
}

.search-function{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(20px);
    opacity: 1;
    transition:0.5s ;
    visibility: hidden;
}

.search-ico i{
    display: none;
}


.search-function .search-bar input{
    position: fixed;
    top: 10%;
    left: 35%;
    width: 300px;
    border: #ffffff 1px solid;
}


/***********DETAILS_PAGE**************/

.info-container{
    margin-top: 200px; 
}

.display-form{
    
    display: flex;
    width: 1000px;
    background-color: #ffffff13;
    justify-content: space-around;
    padding: 30px;
    border-radius: 5px;
    color: #ffffff;
    margin-top: 10px;
    backdrop-filter: blur(20px);
}

.display-poster{
    border-right: 1px solid #ffffff;
    padding-right: 30px;
    z-index: 10;
    margin-right: 20px;
}

.display-poster img{
    width: 250px;
    z-index: 10;
}

.title-bar{
    z-index: 10;
}

.title-bar #description-E{
    font-weight: 100;
    color: #ffffffa4;
}

.title-bar .links{
    margin-top: 30px;
}

.title-bar .links a{
    text-decoration: none;
    color: #ffffff;
    margin: 0 10px 0 0;
    transition: .2s;
    border-right: 1px solid #ffffff;
    padding-right: 20px;
}

.title-bar .links a:hover{
    color: var(--primari);
}

.title-bar h2{
    font-size: 25px;
}

.title-bar #release-E{
    letter-spacing: 3px;
    font-weight: 500;
    margin-top: 10px;
    color: rgb(142, 142, 142);
    font-size: 15px;
}

.additional-buttons button{
  border: none;
  padding: 10px;
  background-color: var(--primari);
  color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
  margin: 20px 30px 0 0;
}

.additional-buttons button:active{
    background-color: #ff3700d0;
}

.TEX{
    color: #dddddd;
    font-weight: 600;
    font-size: 15px;
}
.middle{
    color: #dddddd;
    font-weight: 600;
    font-size: 15px;
    display: inline; 
    margin: 0;
    display: none;
}
.innertext{
    display: inline;
    margin-right: 5px;
    font-weight: 200;
}
#nameofthemovie{
    cursor: pointer;
}
#sourceIMG{
    width: 50px;
    margin-left: 5px;
    cursor: pointer;
}

#B{
    display: none;
}
#C{
    display: none;
}
#D{
    display: none;
}
#director{
    display: none;
}
#Writer{
    display: none;
}
/****************ADDITIONAL**UPDATES*************/
.display-links{
    
    width: 1000px;
    background-color: #ffffff13;
    justify-content: space-around;
    padding: 30px;
    border-radius: 5px;
    color: #ffffff;
    margin-top: 10px;
    backdrop-filter: blur(20px);
    z-index: 10;
}

.display-links table {
    align-content: center;
    width: 100%;
}

.display-links table tr{
    text-align: center;
    border-bottom: 1px solid #dddddd;
}

.display-links table a{
    text-decoration: none;
    color: var(--primari);
}
@media(max-width:375){
    .banner .content{
        width: 310px;
        margin-top: 100px;
    }
}


@media(max-width:420px){

    header{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 0 0 30px;
        z-index: 100;
    }

    .logo img{
        width: 100px;
        
    }

    .nav{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 0;
        right: -100%;
        padding-top: 30px;
        width:250px ;
        font-size: 35px;
        background-color: black;
        height: 600px;
        z-index: 0;
        box-shadow: -5px 0 5px rgba(0,0,0,0.25);
        position: fixed;
        transition: .5s ease-out;
        z-index: 20;
    }
    
    li .fa-xmark{
        font-size: 40px;
        color: #ffffff;
        top: 0;
        position: absolute;
        display: block;
    }

    #sidebar-active:checked ~ .nav{
        right: 0;
    }

    header .search-bar {
        display: none;
    }
    .menu-ico i{
        padding-left: 110px;
        visibility: visible;
    }

    .search-ico  i {
        padding-right: 10px;
        font-size: 20px;
        color: #ffffff;
        display: block;
    }

   .tr{
    font-size: 15px;
   }

   #description{
    font-size: 9px;
    line-height: 10px;
   }

   .movie-title{
    width: 170px;
    padding: 0;
   }
   
    .sci{
        display: none;
    }

    .play-trailer{
        display: none;
    }

    .banner{
        display: flex;
        flex-direction: column;
        margin-right: auto;
        align-items: left;
        
    }

    .banner .content{
        width: 270px;
        margin-top: 100px;
    }
    .carousel .carousel-item{
        width: 110px;
    }
    .carousel .carousel-item img{
        width: 110px;
    }

    .carousel{
        position: relative;
        height: 200px;
        perspective: 1500;
    }

    .banner .carousel-box{
        width: 315px;
        height: 200px;
    }

    .carousel .carousel-item img{
        max-width: 235px;
        border-radius: 10px;
        transform: translateX(4px) translateY(4px);
        object-fit: cover;
        object-position: center;
    }

    .banner .content h4{
        color: rgba(255,255,255,0.5);
        font-weight: 400;
        font-size: 30px;
        padding: 0;
        margin: 0;
    }

    .banner .content h4 span i{
        background: var(--primari);
        color: #ffffff;
        padding: 0 10;
        display: inline-block;
        border-radius: 2px;
       
    }

    .banner .content h4 span{
        padding: 0 10px;
        border-right: 1px solid rgba(255,255,255,0.5);
    }

    .search-function .search-bar input{
        position: fixed;
        top: 5%;
        left: 5px;
        width: 300px;
        border: #ffffff 1px solid;
    }

    .search-function{
        top: -100%;
        transition: .5s ease-out;
        visibility: visible;
    }

    .search-function i {
        font-size: 20px;
        color: #ffffff;
        display: block;
    }

    .search-bar i{
        right:0;
        top: 50px;
        padding-right: 10px;
        color: #ffffff;
        border-right:1px solid ;
    }

    .flex{
        display: flex;
        flex-direction: row;
    }

    /***********DETAILS_PAGE**************/

    .display-form{
        display: flex;
        flex-direction: column;
        background-color: #ffffff13;
        width: 315px;
        justify-content: space-around;
        padding: 30px;
        border-radius: 5px;
        color: #ffffff;
        margin-top: 10px;
    }

    .display-poster{
        border-right: none;
        padding-right: none;
        z-index: 10;
        margin-right: none;
    }

    .display-poster img{
        width: 250px;
        z-index: 10;
    }

   



    /****************ADDITIONAL**UPDATES*************/
    
    .display-links{
    
        width: 315px;
        background-color: #ffffff13;
        justify-content: space-around;
        padding: 30px;
        border-radius: 5px;
        color: #ffffff;
        margin-top: 10px;
        backdrop-filter: blur(20px);
        z-index: 10;
    }

    .display-links table {
        align-content: center;
        width: 100%;
    }
}





